.LeftChat{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    border-right: 1px solid #dbdbdb;
    box-sizing: border-box;
}

.topLeftChat
{
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 16px;
    box-sizing: border-box;
}

.searchLeftChat
{
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
}

.friendsLeftChat
{
    flex: 1;
}

.friendsLeftChat
{
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.topLeftChatRigth
{
    display: flex;
    align-items: center;
}

.topLeftChatRigthBtn
{
    cursor: pointer;
    padding: 0 8px 0 8px;
    margin-left: 10px;
}

::-webkit-scrollbar{
    width: 6px !important;
    height: 6px !important;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,.2);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }